
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: linear-gradient(135deg, #71b7e6, #9b5);
}

.contener{
    display: flex;
    gap: 115px;
}



p {
  color: red;
  
}

h1{
    margin-left: 139px;
    margin-top: 13px;
}

.Formulaire h2 {
    margin-bottom: 10px;
    padding-top: 15px;
}

.Formulaire {
    width: 393px;
    height: 559px;
    margin-left: 30px;
    margin-top: 23px;
    margin-bottom: 23px;
    border-radius: 5px;
    background-color: white;
}

form {
    width: 300px;
    margin-left: 35px;
    }


    label {
        display: block;
        font-weight: 500;
        margin-bottom: -3px;
        margin-top: 13px;
    }

form input[type="text"] {
    width: 100%;
    height: 23px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 7px;
    display: block;
}

form input[type="date"] {
    width: 100%;
    height: 23px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 7px;
    display: block;
}

#type {
  margin-top: 20px;
  width: 100%;
  background: #0000;
}

#radio{
    margin-right: 50px;
}

h4{
    padding-bottom: 16px;
    padding-top: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  height: 20px;
  margin-top: 22px;
  margin-left: 28px;
}

td, th {
    border: 1px solid #030202;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}




#submit{
  position: relative;
  right: 20px;
  bottom: -16px;
  border:none;
  box-shadow: none;
  width: 130px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  cursor: pointer;
}
#submit span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  top: 1px;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#submit span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
#submit span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
#submit:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
#submit:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

#Delete{
  padding: 10px;
  color: black;
  background-color: #71b7e6;
  outline: none;
  cursor: pointer;
  border: none;
}

#Modify{
  padding: 10px;
  color: black;
  background-color: #9b5;
  outline: none;
  cursor: pointer;
  border: none;
}



#window{
  background-color: #fff;
  width: 400PX;
  height: 294PX;
  position: absolute;
  top: 117px;
  left: 657px;
  border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
}

#window li{
  list-style: none;
  padding-bottom: 8px;
}

#window ul{
  padding-left: 70px;
  padding-top: 9px;
  line-height: 24px;
}

#btn{
 
outline: none;
cursor: pointer;
position: absolute;
top: 252PX;
left: 75px;
font-weight: 400;
width: 61px;
height: 27px;
}

.p-window{
  color: blue;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 18px;
}

.close{
  position: absolute;
top: 7px;
left: 381px;
font-size: 20px;
color: #625a5a;
cursor: pointer;
}

.p-window{
  padding-top: 10PX;
  padding-left: 15PX;
}






